.square{
    width: 29.2%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 2%;
    border-radius: 30%;
    transition: border-radius 1s;
    transition: background-color 1s;
}

.square.winner{
    background-color: gold;
    border-radius: 55%;
}

.square.loser{
    background-color: gray;
    border-radius: 35%;
}